<div data-gjs="navbar" class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand"></a>
    <div id="isfckf" class="navbar-burger">
      <div class="navbar-burger-line">
      </div>
      <div class="navbar-burger-line">
      </div>
      <div class="navbar-burger-line">
      </div>
    </div>
    <div data-gjs="navbar-items" class="navbar-items-c">
      <nav data-gjs="navbar-menu" class="navbar-menu">
        <a href="#" class="navbar-menu-link">Home</a>
        <a href="#" class="navbar-menu-link">About</a>
        <a href="#" class="navbar-menu-link">Log out</a>
      </nav>
    </div>
  </div>
</div>
<form class="form">
  <div class="form-group">
  </div>
  <div class="form-group">
  </div>
  <div class="form-group">
  </div>
  <div class="row">
    <div class="cell">
    </div>
    <div class="cell">
      <div class="row">
        <div class="cell">
          <label class="label">Receipt number</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Date</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Repair type</label>
        </div>
        <div class="cell">
          <select class="select"><option value="">- Select option -</option><option value="1">Option 1</option></select>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Name</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Surname</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Patronymic<br/></label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Phone number</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">E-mail</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Status</label>
        </div>
        <div class="cell">
          <select class="select"><option value="">- Select option -</option><option value="1">Option 1</option></select>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <button class="button">Current Invoice</button>
        </div>
        <div class="cell">
          <button class="button">Create Invoice</button>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="row">
        <div class="cell">
          <label class="label">Serial Number</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Type</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Brand</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Model<br/></label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Purchase date<br/></label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Warranty Expiration</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Previous Repair</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Repair Warranty</label>
        </div>
        <div class="cell">
          <input class="input"/>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Malfunction description</label>
        </div>
        <div class="cell">
          <textarea class="textarea"></textarea>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="cell">
          <label class="label">Note</label>
        </div>
        <div class="cell">
          <textarea class="textarea"></textarea>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="form-group">
  </div>
  <div class="row">
    <div class="cell">
      <button class="button">New</button>
    </div>
    <div class="cell">
      <button class="button">Update</button>
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <button class="button">Users</button>
    </div>
    <div class="cell">
      <button class="button">Exit</button>
    </div>
  </div>
  <div class="row">
  </div>
</form>
<script>var items = document.querySelectorAll('#isfckf');
  for (var i = 0, len = items.length; i < len; i++) {
    (function(){
      var e,t=0,n=function(){
        var e,t=document.createElement("void"),n={
          transition:"transitionend",OTransition:"oTransitionEnd",MozTransition:"transitionend",WebkitTransition:"webkitTransitionEnd"};
        for(e in n)if(void 0!==t.style[e])return n[e]}
      (),r=function(e){
        var t=window.getComputedStyle(e),n=t.display,r=(t.position,t.visibility,t.height,parseInt(t["max-height"]));
        if("none"!==n&&"0"!==r)return e.offsetHeight;
        e.style.height="auto",e.style.display="block",e.style.position="absolute",e.style.visibility="hidden";
        var i=e.offsetHeight;
        return e.style.height="",e.style.display="",e.style.position="",e.style.visibility="",i}
      ,i=function(e){
        t=1;
        var n=r(e),i=e.style;
        i.display="block",i.transition="max-height 0.25s ease-in-out",i.overflowY="hidden",""==i["max-height"]&&(i["max-height"]=0),0==parseInt(i["max-height"])?(i["max-height"]="0",setTimeout(function(){
          i["max-height"]=n+"px"}
,10)):i["max-height"]="0"}
      ,a=function(r){
        if(r.preventDefault(),!t){
          var a=this.closest("[data-gjs=navbar]"),o=a.querySelector("[data-gjs=navbar-items]");
          i(o),e||(o.addEventListener(n,function(){
            t=0;
            var e=o.style;
            0==parseInt(e["max-height"])&&(e.display="",e["max-height"]="")}
                                     ),e=1)}
      };
      "gjs-collapse"in this||this.addEventListener("click",a),this["gjs-collapse"]=1}
     .bind(items[i]))();
  }
</script>
